# Importing Libraries

In [7]:
import pandas as pd

# Loading Dataset

In [11]:
df = pd.read_csv(r"C:\Users\DELL\Desktop\AMNIL Intern\AMNIL-Intern-\Task_4\credit_card_transactions.csv")

In [20]:
df.sample(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
1087047,1087047,2020-03-28 02:38:28,2222001896600109,fraud_Huels-Nolan,gas_transport,41.88,Susan,Hernandez,F,2193 Osborne Run Apt. 789,...,-89.9618,2401,"Buyer, industrial",1972-01-03,9895ddcf0fe719e08f8fedf1acb253a4,1364438308,38.578710,-90.159351,0,62206.0
834371,834371,2019-12-12 02:03:18,2291163933867244,fraud_Heller-Langosh,gas_transport,73.83,Jeff,Elliott,M,351 Darlene Green,...,-80.9355,333497,Mechanical engineer,1968-03-19,dea9c07b513bcfa9d7269c076677a259,1355277798,33.611464,-81.792243,0,29829.0
700055,700055,2019-10-26 08:39:27,3541554378551366,"fraud_Yost, Block and Koepp",misc_pos,2.77,Brianna,Wilson,F,257 Victor Stravenue,...,-76.4096,136895,Accounting technician,1939-09-19,e8d600133931fdb9feb21910143e8bab,1351240767,36.388095,-75.878533,0,27927.0
1134322,1134322,2020-04-17 19:01:22,345933964507467,"fraud_Romaguera, Wehner and Tromp",kids_pets,82.65,Carol,Dillon,F,27479 Reeves Dale,...,-75.2811,718,Regulatory affairs officer,1985-03-19,5424dbd4b26e5a7b451a60778fd13b7c,1366225282,37.942720,-74.942943,0,NaN
1288561,1288561,2020-06-18 00:43:59,180046765320457,"fraud_Raynor, Reinger and Hagenes",gas_transport,77.77,Jared,Camacho,M,4257 Perez Mall,...,-81.3739,192805,Building control surveyor,1963-06-30,6f1a7ae8b1909c5a5bdcaa25ebf51034,1371516239,41.495942,-81.398939,0,44040.0

# Basic Observation

In [22]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

In [ ]:
time morning evening, lat long, name , amount lai bining , 
feature importance ra sap value ni presentation ma rakhne , inference

In [24]:
df.shape

(1296675, 24)